    body{
        display: flex;
        width: 1440px;
        font-family: 'Chivo';
        background-color: hsl(224, 35%, 11%);
        color: white;
        margin: 0 auto;

    }

    #container{
        position: relative;
        display: inline-block;
        background-color: hsl(224, 35%, 11%);
        max-height: 620px;
        min-height: 200px;
        height: auto;
        border-radius: 30px;
        margin-top: 300px;
        margin-left: 300px;
        max-width: 430px;
        min-width: 300px;
    }

    #logo-detail{
        position: relative;
    }

    #logo{
        position: absolute;
        margin-top: 80px;
        margin-left: 100px;
    }

    #pod-logo{
        position: absolute;
        margin-top: 80px;
        margin-left: 165px;
        font-size: 40px;
        font-weight: 500;
    }

    #image{
        position: absolute;
        margin-left: 500px;
        margin-top: 100px;
        width: 890px;
    }

    .circle-col{
        position: absolute;
        margin-left: 1155px;
        margin-top: 695px;
    }

    #left-area{
        position: absolute;
        width: 650px;
        height:500px;
        background-color: hsl(224, 35%, 11%);
        z-index: 10;
        margin-top: 250px;
        margin-left: 130px;
        padding-right: 50px;
    }

    #pod-content{
        margin-top: 90px;
        
    }
    span{
        color:hsl(157, 74%, 62%) ;
    }
    h1{
        font-size: 52px;
        font-weight: lighter;
        margin-left: 1px;
        line-height: 20px;
    }
    p{
        font-weight: lighter;
        font-size: 18px;
        color: hsl(225,40%,83%);
        line-height: 30px;
    }

    #form{
        margin-top: 60px;
    }

    input{
        position: absolute;
        background-color: hsl(225, 26%, 23%);
        width: 400px;
        height: 40px;
        border: none;
        border-radius: 100px;
        color: white;
        padding-left: 15px;
    }

    .button{
        position: absolute;
        background-color: hsl(157, 74%, 62%);
        border: none;
        border-radius: 100px;
        color: hsl(224, 35%, 11%);
        width: 120px;
        height: 35px;
        margin-left:293px;
        margin-top: 3px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
    }

    .button:hover{
        background-color: hsl(157, 100%, 87%);
    }

    #email-error{
        position: absolute;
        font-size: 10px; 
        color: red;
        margin-top: 50px;
        margin-left: 20px;
    }

    #podcasts-logo{
        position: relative;

    }

    #spotify{
        position: absolute;
        margin-top: 100px;

    }
    #apple{
        position: absolute;
        margin-top: 100px;
        margin-left: 135px;
    }

    #google{
        position: absolute;
        margin-top: 105px;
        margin-left: 252px;
    }

    #pocket{
        position: absolute;
        margin-top: 100px;
        margin-left: 416px;
    }


    .attribution { 
        margin-top: 950px;
        margin-left: 550px;
        font-size: 13px; 

    }
    .attribution a { 
        color: hsl(168, 45%, 44%); 
    }